<section class="admin-users">
  <header class="users-header">
    <div>
      <h1>Journal entries for user</h1>
      <a [routerLink]="['/admin/users']" class="link-back">
        <!-- Home Icon Placeholder -->
        <fa-icon [icon]="faArrowLeft" class="my-icon"></fa-icon>
        Back to Users
      </a>
    </div>
  </header>
  <div class="users-table-wrapper">
    @if (items$ | async; as items) {
      <app-dynamic-table
        [columns]="columns"
        [items]="items.data"
        [totalItems]="items.total"
        [pageSize]="items.pageSize"
        [pageIndex]="items.pageIndex"
        [sortColumn]="(sorting$ | async)?.property"
        [sortDirection]="(sorting$ | async)?.direction"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
      ></app-dynamic-table>
    }
  </div>
</section>
