<div class="markdown-editor" [class.fullscreen]="fullscreen">
  @if (showHeader) {
      <div class="editor-header">
        <div class="toolbar">
          <button (click)="$event.preventDefault(); insertMarkdown('**', '**')" title="Bold"><fa-icon [icon]="faBold"></fa-icon> </button>
          <button (click)="$event.preventDefault(); insertMarkdown('*', '*')" title="Italic"><fa-icon [icon]="faItalic"></fa-icon></button>
          <button (click)="$event.preventDefault(); insertMarkdown('~', '~')" title="Italic"><fa-icon [icon]="faStrikethrough"></fa-icon></button>
          <button (click)="$event.preventDefault(); insertMarkdown('### ', '')" title="Heading"><fa-icon [icon]="faH"></fa-icon> </button>
          <button (click)="$event.preventDefault(); insertMarkdown('- ', '')" title="List"><fa-icon [icon]="faListDots"></fa-icon></button>
          <button (click)="$event.preventDefault(); insertMarkdown('1. ', '')" title="List"><fa-icon [icon]="faListNumeric"></fa-icon></button>
          <button (click)="$event.preventDefault(); insertMarkdown('> ', '')" title="Quote"><fa-icon [icon]="faQuoteLeft"></fa-icon></button>
          <button (click)="$event.preventDefault(); insertMarkdown('`', '`')" title="Code"><fa-icon [icon]="faCode"></fa-icon> </button>
          <button (click)="$event.preventDefault(); toggleFullscreen()">
            <fa-icon [icon]="fullscreen ? faCompress : faExpand"></fa-icon>
          </button>
          <button (click)="$event.preventDefault(); togglePreview()">
            <fa-icon [icon]="showPreview ? faEyeSlash : faEye"></fa-icon>
          </button>
        </div>
    </div>
  }

  <div class="editor-layout">
    @if (!showPreview || fullscreen) {
    <!-- Markdown Input -->
    <div class="markdown-input">
      <textarea
        [(ngModel)]="content"
        (input)="onContentChange()"
        placeholder="Write your thoughts in Markdown..."
        class="markdown-textarea"
        [attr.rows]="rows">
          </textarea>
    </div>

    }
    <!-- Live Preview -->
    @if (showPreview || fullscreen) {
      <div class="markdown-preview">
        <div class="preview-content" [innerHTML]="renderedContent"></div>
      </div>
    }
  </div>
</div>
