.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--background);
  opacity: 0.5;
  z-index: 40;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
  box-shadow: var(--shadow-lg);

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      font-size: var(--font-size-lg)
    }

    .close-btn {
      background: transparent;
      border: none;
      color: var(--foreground);
      cursor: pointer;
    }
  }
}

.sidebar-btn {
  background: transparent;
  border: none;
  color: var(--foreground);
  cursor: pointer;
}
