<section class="admin-users">
  <header class="users-header">
    <h1>Users</h1>
  </header>
    @if (items$ | async; as users) {
      <app-dynamic-table
        [columns]="columns"
        [items]="users.data"
        [totalItems]="users.total"
        [pageSize]="users.pageSize"
        [pageIndex]="users.pageIndex"
        [sortColumn]="(sorting$ | async)?.property"
        [sortDirection]="(sorting$ | async)?.direction"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
      ></app-dynamic-table>
    }
</section>

